<nav>
    <div class="nav-main">
        <img src="/img/logo.png" alt="">
        <a href="/">ChatApp</a>
    </div>

    <div class="nav-options">
        <ul>
            <li><a href="/myrooms">My rooms</a></li>
            <li><a href="/myrooms/create">Create room</a></li>
        </ul>
    </div>
</nav>

<%- include('flash.ejs') %>