<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App - Create room</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/create.css">
</head>
<body>
    <!-- Create new chat room -->
    <div class="form-container">
        <form action="/create" method="POST">
            <label for="roomName">Enter room name: </label><br>
            <input type="text" name="roomName"><br>
    
            <button type="submit">Create room</button>
        </form>
    </div>
</body>
</html>