<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App - Create room</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/min/dropzone.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/styles/create.css">

    <link rel="icon" href="/img/logo.png">
</head>
<body>
    <%- include('partials/header.ejs') %>

    <!-- Create new chat room -->
    <div class="form-container">
        <form action="/myrooms/create" method="POST" autocomplete="off">
            <h2>Create Room</h2>
            <input type="text" placeholder="Room name: " name="roomName" maxlength="19"><br>

            <button type="submit">Create room</button>
        </form>
    </div>
</body>
</html>