<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/landing.css">

    <link rel="icon" href="img/logo.png">

</head>
<body>
    <nav>
        <div class="nav-main">
            <img src="/img/logo.png" alt="">
            <a href="/">ChatApp</a>
        </div>

        <div class="nav-options">
            <ul>
                <li><a href="/myrooms">My rooms</a></li>
                <li><a href="/create">Create room</a></li>
            </ul>
        </div>
    </nav>

    <div class="main">
        <div class="phone">
            <img src="/img/purple_phone.png" alt="">
        </div>

        <div class="waves">
            <img src="/img/purple_waves.png" alt="">
        </div>

        <div class="main-header">
            <h2>Chat online</h2>
            <p>Connect with people all over the world</p>
    
            <a id="inside-button" href="/myrooms">Start Chatting</a>
        </div>

        <a id="outside-button" href="/myrooms">Start Chatting</a>

    </div>
</body>
</html>