<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/landing.css">

</head>
<body>
    <% rooms.forEach(room => { %>
        <form action="/" method="POST">
            <a href="/<%= room._id %>" id="roomNameBtn" type="submit" name="roomName"><%= room.name %></a>
        </form>
    <% }) %>
    
    <button id="createRoom" type="submit">Create room</button>


    <script>
        $('button').on('click', () => {
            window.location.href = '/create'
        })

        // $.post('/', {
        //     roomName: $('#roomNameBtn').val()
        // })

    </script>
</body>
</html>