<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatApp - Login</title>

    <link rel="stylesheet" href="styles/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

</head>
<body>
    <nav>
        <div class="nav-main">
            <img src="/img/logo.png" alt="">
            <a href="/">ChatApp</a>
        </div>

        <div class="nav-options">
            <ul>
                <li><a href="/myrooms">My rooms</a></li>
                <li><a href="/create">Create room</a></li>
            </ul>
        </div>
    </nav>

    <div class="form-container">
        <form action="/login" method="POST" autocomplete="off">
            <h2>Login</h2>

            <div class="inputs">
                <div class="username">
                    <input type="text" placeholder="username: " name="username" autocomplete="off">
                </div>
        
                <div class="password">
                    <input type="password" placeholder="password: " name="password">
                </div>
            </div>
    
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>