<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="styles/myRooms.css">

    <link rel="icon" href="img/logo.png">

</head>
<body>
    <nav>
        <div class="nav-main">
            <img src="/img/logo.png" alt="">
            <a href="/">ChatApp</a>
        </div>

        <div class="nav-options">
            <ul>
                <li><a href="/myrooms">My rooms</a></li>
                <li><a href="/myrooms/create">Create room</a></li>
            </ul>
        </div>
    </nav>

    <div class="contacts">
        <% rooms.forEach(room => { %>
            <form action="/myrooms" method="POST">
                <a href="/myrooms/<%= room._id %>" id="roomNameBtn" type="submit" name="roomName">
                    <div class="roomNameBtn"><h4 id="room-name"><%= room.name %></h4></div>
                </a>
            </form>
        <% }) %>
    </div>

    <div class="create-room">
        <a href="/myrooms/create">Click here to create room</a>
    </div>

    <script>
        var colors = {
            blue: "linear-gradient(180deg, #2194FF 0%, rgba(33, 148, 255, 0.16) 100%)",
            lightBlue: "linear-gradient(180deg, #00BDF9 0%, rgba(0, 189, 249, 0.16) 100%)",
            purple: "linear-gradient(180deg, #9D21FF 0%, rgba(157, 33, 255, 0.16) 100%)",
            lightPurple: "linear-gradient(180deg, #CC00FF 0%, rgba(204, 0, 255, 0.16) 100%)"
        }

        var contacts = document.querySelectorAll('.roomNameBtn')

        function pickColor(obj) {
            var keys = Object.keys(obj);
            return obj[keys[keys.length * Math.random() << 0]];
        }

        var roomBtn = $('.roomNameBtn')
        
        contacts.forEach(contact => {
            contact.style.background = pickColor(colors)
        })

        if (contacts.length > 0) {
            $('.create-room').css('display', 'none')
        }
    </script>
</body>
</html>