* {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

body {
    background: linear-gradient(180deg, #895EAB 0%, rgba(164, 96, 217, 0.39) 100%) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 15px 5vw 15px 3vw;
}

nav a {
    font-weight: 300;
}

.nav-main {
    display: flex;
    align-items: center;
}

.nav-main a {
    font-size: 40px;
    padding-left: 1vw;
}

.nav-options a {
    font-size: 29px;
    padding-left: 2.5vw;
}

.nav-options ul li {
    display: inline-block;
}

nav img {
    display: flex;
    width: 80px;
}

.phone img {
    /* width: 90%; */
    width: 25vw;
}

.main {
    display: flex;
    justify-content: space-between;
    padding: 10vh 2vw 0 2vw;
}

.main-header {
    color: white;
    margin: 8vh 15vw 0 0;
    position: relative;
}

.main-header h2 {
    font-size: 64px;
    font-weight: 300;
}

.main-header p {
    font-size: 22px;
    margin-bottom: 12vh;
}

.main-header a {
    color: white;
    padding: 13px 10px;
    background: #8E59D1;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, .75);
    border-radius: 2px;
    cursor: pointer;
    border: none;
    outline: none;
    position: relative;
}

.waves img {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 15%;
    width: auto;
    height: 100%;
    display: block;
    transform: rotate(90deg);
}

#outside-button {
    display: none;
    color: white;
    padding: 13px 10px;
    background: #8E59D1;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, .75);
    border-radius: 2px;
    cursor: pointer;
    border: none;
    outline: none;
    position: relative;
}


@media(max-width: 1570px) {
    .waves img {
        left: 7%;
    }

    .main-header {
        margin-right: 10vw;
    }
}

@media(max-width: 1300px) {
    .waves {
        display: none;
    }

    #inside-button {
        display: none;
    }

    .main-header {
        margin: 0;
        padding: 0;
    }

    .main-header p {
        margin: 0;
    }

    .main {
        align-items: center;
        flex-flow: column-reverse;
        text-align: center;
        padding-top: 50px;
    }

    .phone img {
        width: 80%;
    }
}

@media(max-width: 900px) {
    .nav-options a {
        font-size: 25px;
    }

    .nav-main a {
        font-size: 35px;
    }

    nav img {
        width: 60px;
    }
}
